name: Workflow for Group Project
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup network and database
        run: |
          docker network create --driver bridge se-methods
          docker run -d --name mysql-db \
            --network se-methods \
            -e MYSQL_ROOT_PASSWORD=root \
            -e MYSQL_DATABASE=world \
            -p 3306:3306 \
            mysql:8.0
          
          # Wait for MySQL to be ready
          for i in {1..20}; do
            docker exec mysql-db mysql -uroot -proot -e "SELECT 1" && break
            echo "Waiting for database..."
            sleep 5
          done
      - name: Build with Maven
        run: mvn package
      - name: Build
        run: docker build -t se_methods .
      - name: Run image
        run: docker run --network se-methods --name devopscontainer se_methods
      - name: view logs
        run: docker logs devopscontainer

#this is a test that everything is working (2)
